<div class="top-sidebar-content">
	<a matRipple class="btn btn-link" aria-label="Sidebar button" (click)="onSidebarCloseToggleClick()">
		<mat-icon>close</mat-icon>
	</a>

	<a mat-button>ibent95</a>
</div>

<mat-nav-list>

	<!-- Data -->
	<mat-list-item routerLink="/" [state]="{tracingId: 123}">
		<mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
		{{ 'Home' }}
	</mat-list-item>

	<mat-list-item routerLink="/publication" [state]="{tracingId: 321}">
		<mat-icon aria-hidden="false" aria-label="Publication">document_scanner</mat-icon>
		{{ 'Publications' }}
	</mat-list-item>

	<!-- Configurations -->
	<mat-divider></mat-divider>

	<div mat-subheader [innerHTML]="'Configurations'"></div>

	<mat-list-item routerLink="/configurations-publication-forms" [state]="{tracingId: 321}">
		<mat-icon aria-hidden="false" aria-label="Publication Forms Configurations">exposure</mat-icon>
		{{ 'Publication Forms' }}
	</mat-list-item>

	<!-- Master data -->
	<mat-divider></mat-divider>

	<div mat-subheader [innerHTML]="'Master Data'"></div>

	<mat-list-item routerLink="/configurations-master-data-publication-general-types" [state]="{tracingId: 321}">
		<mat-icon aria-hidden="false" aria-label="Publication General Types">format_list_bulleted</mat-icon>
		{{ 'Publication General Types' }}
	</mat-list-item>

	<mat-list-item routerLink="/configurations-master-data-publication-types" [state]="{tracingId: 321}">
		<mat-icon aria-hidden="false" aria-label="Publication Types">format_list_numbered</mat-icon>
		{{ 'Publication Types' }}
	</mat-list-item>

	<!-- Others -->
	<mat-divider></mat-divider>

	<div mat-subheader [innerHTML]="'Others'"></div>

	<mat-list-item routerLink="/components" [state]="{tracingId: 321}">
		<mat-icon aria-hidden="false" aria-label="Component">pageview</mat-icon>
		{{ 'Components' }}
	</mat-list-item>

</mat-nav-list>