<ng-container *ngIf="(dfMetadata.gridSystems.type === 'material')">

	<mat-grid-list [cols]="dfMetadata.gridSystems.cols" [rowHeight]="'75px'" [gutterSize]="'15px'">

		<ng-container *ngFor="let field of fields; let fieldIndex = index;">

			<mat-grid-tile [colspan]="field.field_configs?.colspan" [rowspan]="field.field_configs?.rowspan">

				<div class="mat-grid-tile-container field field-{{ fieldIndex }}">

					<!-- Fields -->
					<ng-container [ngSwitch]="field.field_type">

						<!-- Main Fields Start -->

						<ng-container *ngSwitchCase="'text'">
							<df-field-text appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-text>
						</ng-container>

						<ng-container *ngSwitchCase="'url'">
							<df-field-url appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-url>
						</ng-container>

						<ng-container *ngSwitchCase="'email'">
							<df-field-email appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-email>
						</ng-container>

						<ng-container *ngSwitchCase="'number'">
							<df-field-number appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-number>
						</ng-container>

						<ng-container *ngSwitchCase="'date'">
							<df-field-date appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-date>
						</ng-container>

						<ng-container *ngSwitchCase="'month'">
							<df-field-month appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-month>
						</ng-container>

						<ng-container *ngSwitchCase="'year'">
							<df-field-year appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-year>
						</ng-container>

						<ng-container *ngSwitchCase="'time'">
							<df-field-time appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-time>
						</ng-container>

						<ng-container *ngSwitchCase="'owl-date'">
							<df-field-owl-datetime [mode]="'date'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
						</ng-container>

						<ng-container *ngSwitchCase="'owl-month'">
							<df-field-owl-datetime [mode]="'month'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
						</ng-container>

						<ng-container *ngSwitchCase="'owl-year'">
							<df-field-owl-datetime [mode]="'year'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
						</ng-container>

						<ng-container *ngSwitchCase="'owl-time'">
							<df-field-owl-datetime [mode]="'time'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
						</ng-container>

						<ng-container *ngSwitchCase="'owl-datetime'">
							<df-field-owl-datetime [mode]="'date-time'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
						</ng-container>

						<ng-container *ngSwitchCase="'owl-daterange'">
							<df-field-owl-datetime [mode]="'date-range'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
						</ng-container>

						<ng-container *ngSwitchCase="'owl-timerange'">
							<df-field-owl-datetime [mode]="'time-range'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
						</ng-container>

						<ng-container *ngSwitchCase="'owl-datetimerange'">
							<df-field-owl-datetime [mode]="'date-time-range'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
						</ng-container>

						<ng-container *ngSwitchCase="'select'">
							<df-field-select appearance="outline" color="accent" [field]="field" [options]="forms.value[field.field_name + '_options']" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-select>
						</ng-container>

						<ng-container *ngSwitchCase="'file'">
							<df-field-file appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-file>
						</ng-container>

						<ng-container *ngSwitchCase="'image'">
							<df-field-image appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-image>
						</ng-container>

						<ng-container *ngSwitchCase="'file-upload'">
							<df-field-file-upload appearance="outline" color="accent" [field]="field" [backendService]="'publications'" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-file-upload>
						</ng-container>

						<ng-container *ngSwitchCase="'image-upload'">
							<df-field-image-upload appearance="outline" color="accent" [field]="field" [backendService]="'publications'" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-image-upload>
						</ng-container>

						<!-- Main Fields End -->

						<!-- Group Fields Start -->

						<ng-container *ngSwitchCase="'panel'">

							<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="field" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

						</ng-container>

						<ng-container *ngSwitchCase="'well'">

							<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="field" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

						</ng-container>

						<ng-container *ngSwitchCase="'accordion'">
							<div>
								<mat-label>
									<h2>{{ field.field_label }}</h2>
								</mat-label>

								<mat-accordion class="mat-elevation-z8" [hideToggle]="false" multi>

									<ng-container *ngFor="let panel of field.children; let panelIndex = index;">

										<mat-expansion-panel class="mat-elevation-z8" [expanded]="true"
											[hideToggle]="false">
											<!-- Header -->
											<mat-expansion-panel-header class="divider-bottom mb-4">
												<mat-panel-title>{{ panel.field_label }}</mat-panel-title>
												<mat-panel-description class="justify-between">
													<span>{{ panel.description }}</span>
													<ng-container
														*ngIf="(panel.field_configs?.panel_description?.mat_icon)">
														<mat-icon>{{
															panel.field_configs?.panel_description?.mat_icon
															}}</mat-icon>
													</ng-container>
												</mat-panel-description>
											</mat-expansion-panel-header>

											<!-- Field children (Content) -->
											<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="panel" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

										</mat-expansion-panel>

									</ng-container>

								</mat-accordion>
							</div>
						</ng-container>

						<ng-container *ngSwitchCase="'stepper'">

							<div class="border-custom m-0 p-0"> <!-- class:border-custom -->
								<mat-label>
									<h2>{{ field.field_label }}</h2>
								</mat-label>

								<mat-stepper class="-z-10" [orientation]="field.field_configs.orientation" [linear]="field.field_configs.linear" [color]="'accent'" #stepper>

									<ng-container *ngFor="let step of field.children; let stepIndex = index;">

										<mat-step class="-z-10" [label]="step.field_label">

											<!-- Field children (Content) -->
											<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="step" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

											<!-- Direction button -->
											<div class="flex justify-center gap-4">

												<ng-container *ngIf="((stepIndex + 1) === 1)">
													<button mat-stroked-button class="flex-initial w-32" [color]="'accent'" matStepperNext>Next</button>
												</ng-container>

												<ng-container *ngIf="((stepIndex + 1) !== 1 && ((stepIndex + 1) !== field.children.length))">
													<button mat-stroked-button class="flex-initial w-32" [color]="'default'" matStepperPrevious>Back</button>
													<button mat-stroked-button class="flex-initial w-32" [color]="'accent'" matStepperNext>Next</button>
												</ng-container>

												<ng-container *ngIf="((stepIndex + 1) === field.children?.length)">
													<button mat-stroked-button class="flex-initial w-32" [color]="'default'" matStepperPrevious>Back</button>
												</ng-container>

											</div>

										</mat-step>

									</ng-container>

								</mat-stepper>
							</div>

						</ng-container>

						<ng-container *ngSwitchCase="'multiple'">

							<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="field" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

						</ng-container>

					</ng-container>

					<!-- Field`s unique error -->
					<ng-container *ngIf="(dfMetadata.uniqueFalseCheckFields[field.field_name]?.value && (field.field_type !== 'hidden'))">
						<small class="text-red-500">{{ dfMetadata.uniqueFalseCheckFields[field.field_name]?.error_message }}</small>
						<br>
					</ng-container>

					<!-- Field`s errors message -->
					<ng-container *ngIf="((field.error_message?.length > 0) && (field.field_type !== 'hidden') && (forms.get(field.field_name)?.invalid && (forms.get(field.field_name)?.dirty || forms.get(field.field_name)?.touched)))">
						<small class="text-red-500">{{ field.error_message }}</small>
						<br>
					</ng-container>

					<!-- Field`s description -->
					<ng-container *ngIf="(field.description && (field.description.length > 0) && (field.field_type !== 'hidden'))">
						<span>{{ field.description }}</span>
					</ng-container>

				</div>

			</mat-grid-tile>

		</ng-container>

	</mat-grid-list>

</ng-container>

<ng-container *ngIf="(dfMetadata.gridSystems.type !== 'material')">

	<div [ngClass]="gridSystemsClassConfig">

		<ng-container *ngFor="let field of fields; let fieldIndex = index;">

			<div [ngClass]="[
				(dfMetadata.gridSystems?.type === 'no_grid_system' || dfMetadata.gridSystems?.type === 'default') ? '' : '',

				(dfMetadata.gridSystems?.type === 'bootstrap') ? 'col-' + (field.field_configs?.colspan || 12) : '',

				(dfMetadata.gridSystems?.type === 'tailwind') ? 'row-span-' + (field.field_configs?.rowspan || 1) : '',
				(dfMetadata.gridSystems?.type === 'tailwind') ? 'col-span-' + (field.field_configs?.colspan || 12) : '',
			]">

				<!-- Fields -->
				<ng-container [ngSwitch]="field.field_type">

					<!-- Main Fields Start -->

					<ng-container *ngSwitchCase="'text'">
						<df-field-text appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-text>
					</ng-container>

					<ng-container *ngSwitchCase="'url'">
						<df-field-url appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-url>
					</ng-container>

					<ng-container *ngSwitchCase="'email'">
						<df-field-email appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-email>
					</ng-container>

					<ng-container *ngSwitchCase="'number'">
						<df-field-number appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-number>
					</ng-container>

					<ng-container *ngSwitchCase="'date'">
						<df-field-date appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-date>
					</ng-container>

					<ng-container *ngSwitchCase="'month'">
						<df-field-month appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-month>
					</ng-container>

					<ng-container *ngSwitchCase="'year'">
						<df-field-year appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-year>
					</ng-container>

					<ng-container *ngSwitchCase="'time'">
						<df-field-time appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-time>
					</ng-container>

					<ng-container *ngSwitchCase="'owl-date'">
						<df-field-owl-datetime [mode]="'date'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
					</ng-container>

					<ng-container *ngSwitchCase="'owl-month'">
						<df-field-owl-datetime [mode]="'month'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
					</ng-container>

					<ng-container *ngSwitchCase="'owl-year'">
						<df-field-owl-datetime [mode]="'year'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
					</ng-container>

					<ng-container *ngSwitchCase="'owl-time'">
						<df-field-owl-datetime [mode]="'time'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
					</ng-container>

					<ng-container *ngSwitchCase="'owl-datetime'">
						<df-field-owl-datetime [mode]="'date-time'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
					</ng-container>

					<ng-container *ngSwitchCase="'owl-daterange'">
						<df-field-owl-datetime [mode]="'date-range'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
					</ng-container>

					<ng-container *ngSwitchCase="'owl-timerange'">
						<df-field-owl-datetime [mode]="'time-range'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
					</ng-container>

					<ng-container *ngSwitchCase="'owl-datetimerange'">
						<df-field-owl-datetime [mode]="'date-time-range'" [appearance]="'outline'" [color]="'accent'" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-owl-datetime>
					</ng-container>

					<ng-container *ngSwitchCase="'select'">
						<df-field-select appearance="outline" color="accent" [field]="field" [options]="forms.value[field.field_name + '_options']" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-select>
					</ng-container>

					<ng-container *ngSwitchCase="'file'">
						<df-field-file appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-file>
					</ng-container>

					<ng-container *ngSwitchCase="'image'">
						<df-field-image appearance="outline" color="accent" [field]="field" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-image>
					</ng-container>

					<ng-container *ngSwitchCase="'file-upload'">
						<df-field-file-upload appearance="outline" color="accent" [field]="field" [backendService]="'publications'" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-file-upload>
					</ng-container>

					<ng-container *ngSwitchCase="'image-upload'">
						<df-field-image-upload appearance="outline" color="accent" [field]="field" [backendService]="'publications'" (type)="onType($event, field, field.field_name, fieldIndex)" (change)="onChange($event, field, parentControlName + field.field_name, fieldIndex)"></df-field-image-upload>
					</ng-container>

					<!-- Main Fields End -->

					<!-- Group Fields Start -->

					<ng-container *ngSwitchCase="'panel'">

						<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="field" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

						<!-- Field`s errors message -->
						<ng-container *ngIf="((field.error_message?.length > 0) && (field.field_type !== 'hidden') && (forms.get(field.field_name)?.invalid && (forms.get(field.field_name)?.dirty || forms.get(field.field_name)?.touched)))">
							<small class="text-red-500">{{ field.error_message }}</small>
							<br>
						</ng-container>

						<!-- Field`s description -->
						<ng-container *ngIf="(field.description && (field.description.length > 0) && (field.field_type !== 'hidden'))">
							<span>{{ field.description }}</span>
						</ng-container>
					</ng-container>

					<ng-container *ngSwitchCase="'well'">

						<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="field" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

						<!-- Field`s errors message -->
						<ng-container *ngIf="((field.error_message?.length > 0) && (field.field_type !== 'hidden') && (forms.get(field.field_name)?.invalid && (forms.get(field.field_name)?.dirty || forms.get(field.field_name)?.touched)))">
							<small class="text-red-500">{{ field.error_message }}</small>
							<br>
						</ng-container>

						<!-- Field`s description -->
						<ng-container *ngIf="(field.description && (field.description.length > 0) && (field.field_type !== 'hidden'))">
							<span>{{ field.description }}</span>
						</ng-container>
					</ng-container>

					<ng-container *ngSwitchCase="'accordion'">
						<div>
							<mat-label>{{ field.field_label }}</mat-label>

							<mat-accordion class="mat-elevation-z8" [hideToggle]="false" multi>

								<ng-container *ngFor="let panel of field.children; let panelIndex = index;">

									<mat-expansion-panel class="mat-elevation-z8" [expanded]="true" [hideToggle]="false">
										<!-- Header -->
										<mat-expansion-panel-header class="divider-bottom">
											<!-- Title -->
											<mat-panel-title>{{ panel.field_label }}</mat-panel-title>

											<!-- Description -->
											<mat-panel-description class="justify-between">
												<span>{{ panel.description }}</span>
												<ng-container *ngIf="(panel.field_configs?.panel_description?.mat_icon)">
													<mat-icon>{{ panel.field_configs?.panel_description?.mat_icon }}</mat-icon>
												</ng-container>
											</mat-panel-description>
										</mat-expansion-panel-header>

										<!-- Field children (Content) -->
										<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="panel" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

									</mat-expansion-panel>

								</ng-container>

							</mat-accordion>

							<!-- Field`s errors message -->
							<ng-container *ngIf="((field.error_message?.length > 0) && (field.field_type !== 'hidden') && (forms.get(field.field_name)?.invalid && (forms.get(field.field_name)?.dirty || forms.get(field.field_name)?.touched)))">
								<small class="text-red-500">{{ field.error_message }}</small>
								<br>
							</ng-container>

							<!-- Field`s description -->
							<ng-container *ngIf="(field.description && (field.description.length > 0) && (field.field_type !== 'hidden'))">
								<span>{{ field.description }}</span>
							</ng-container>
						</div>
					</ng-container>

					<ng-container *ngSwitchCase="'stepper'">
						<div class="border-custom m-0 p-0"> <!-- class:border-custom -->
							<mat-label class="ml-1 mt-5">{{ field.field_label }}</mat-label>

							<mat-stepper class="-z-10" [orientation]="(stepperOrientation | async)!" [linear]="field.field_configs?.linear" [color]="'accent'" #stepper>

								<ng-container *ngFor="let step of field.children; let stepIndex = index;">

									<mat-step [label]="step.field_label">

										<!-- Field children -->
										<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="step" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

										<!-- Direction button -->
										<div class="flex justify-center gap-4">

											<ng-container *ngIf="((stepIndex + 1) === 1)">
												<button mat-stroked-button class="flex-initial w-32" [color]="'accent'" matStepperNext>Next</button>
											</ng-container>

											<ng-container *ngIf="((stepIndex + 1) !== 1 && ((stepIndex + 1) !== field.children.length))">
												<button mat-stroked-button class="flex-initial w-32" [color]="'default'" matStepperPrevious>Back</button>
												<button mat-stroked-button class="flex-initial w-32" [color]="'accent'" matStepperNext>Next</button>
											</ng-container>

											<ng-container *ngIf="((stepIndex + 1) === field.children.length)">
												<button mat-stroked-button class="flex-initial w-32" [color]="'default'" matStepperPrevious>Back</button>
												<!--<button mat-raised-button class="flex-initial w-32" [color]="'warn'" (click)="stepper.reset()">Reset</button>-->
												<!--<button mat-raised-button class="flex-initial w-32" [color]="'accent'">Save</button>-->
											</ng-container>

										</div>

									</mat-step>

								</ng-container>

							</mat-stepper>

							<!-- Field`s errors message -->
							<ng-container *ngIf="((field.error_message?.length > 0) && (field.field_type !== 'hidden') && (forms.get(field.field_name)?.invalid && (forms.get(field.field_name)?.dirty || forms.get(field.field_name)?.touched)))">
								<small class="text-red-500">{{ field.error_message }}</small>
								<br>
							</ng-container>

							<!-- Field`s description -->
							<ng-container *ngIf="(field.description && (field.description.length > 0) && (field.field_type !== 'hidden'))">
								<span>{{ field.description }}</span>
							</ng-container>
						</div>
					</ng-container>

					<ng-container *ngSwitchCase="'multiple'">

						<app-publication-form-recursive [dfMetadata]="dfMetadata" [parentForms]="forms" [parentField]="field" [gridSystemsClassConfig]="gridSystemsClassConfig" (onPublicationTypeSelected)="onPublicationTypeSlctSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-recursive>

						<!-- Field`s errors message -->
						<ng-container *ngIf="((field.error_message?.length > 0) && (field.field_type !== 'hidden') && (forms.get(field.field_name)?.invalid && (forms.get(field.field_name)?.dirty || forms.get(field.field_name)?.touched)))">
							<small class="text-red-500">{{ field.error_message }}</small>
							<br>
						</ng-container>

						<!-- Field`s description -->
						<ng-container *ngIf="(field.description && (field.description.length > 0) && (field.field_type !== 'hidden'))">
							<span>{{ field.description }}</span>
						</ng-container>
					</ng-container>

					<!-- Group Fields End -->

				</ng-container>

				<!-- Field`s default error -->
				<ng-container *ngIf="(forms.get(field.field_name)?.hasError)">

					<mat-error *ngIf="(forms.get(field.field_name)?.hasError('required'))">{{ 'Field is riquired. Please fill the field.' }}</mat-error>

					<mat-error *ngIf="(forms.get(field.field_name)?.hasError('max'))">{{ 'Value is too big.' }}</mat-error>

					<mat-error *ngIf="(forms.get(field.field_name)?.hasError('min'))">{{ 'Value is too small.' }}</mat-error>

					<mat-error *ngIf="(forms.get(field.field_name)?.hasError('owlDateTimeParse'))">{{ 'The date is somehow error when parsed in the field.' }}</mat-error>

					<br>
				</ng-container>

				<!-- Field`s unique error -->
				<ng-container *ngIf="(dfMetadata.uniqueFalseCheckFields[field.field_name]?.value && (field.field_type !== 'hidden'))">
					<mat-error>{{ dfMetadata.uniqueFalseCheckFields[field.field_name]?.error_message }}</mat-error>
					<br>
				</ng-container>

			</div>

		</ng-container>

	</div>

</ng-container>