<mat-form-field [appearance]="appearance" [color]="color" [formGroup]="formGroup">
	<mat-label>{{ field.field_label }}</mat-label>
	<input matInput [formControlName]="field.field_name" [placeholder]="field.field_placeholder" [matDatepicker]="datePicker">
	<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
	<mat-datepicker #datePicker></mat-datepicker>

	<mat-error [innerHTML]="field.error_message" *ngIf="formGroup.get(field.field_name)?.invalid && (formGroup.get(field.field_name)?.dirty || formGroup.get(field.field_name)?.touched)"></mat-error>
	<mat-hint [innerHTML]="field.description"></mat-hint>
</mat-form-field>