<mat-form-field [appearance]="appearance" [color]="color" [formGroup]="formGroup">
	<mat-label>{{ field.field_label }}</mat-label>
	<input matInput [formControlName]="field.field_name" [placeholder]="field.field_placeholder" [owlDateTime]="yearPicker">
	<button mat-icon-button matSuffix [owlDateTimeTrigger]="yearPicker"><mat-icon>calendar_month</mat-icon></button>
	<owl-date-time [pickerType]="'calendar'" [startView]="owlDateTimeYearStartView" (yearSelected)="setOwlDateTimeYear($event, yearPicker)" #yearPicker></owl-date-time>
</mat-form-field>