<form class="grid grid-cols-12 gap-x-3 gap-y-7">

	<!-- Row 1 -->
	<div class="col-span-6">
		<mat-label>{{ 'Field Configs' }}</mat-label>
		<app-codemirror [doc]="jsonStringify(data?.field_configs)" [readOnly]="true"></app-codemirror>
	</div>

	<div class="col-span-6">
		<mat-label>{{ 'Validation Configs' }}</mat-label>
		<app-codemirror [doc]="jsonStringify(data?.validation_configs)" [readOnly]="true"></app-codemirror>
	</div>
	<!-- Row 1 -->

	<!-- Row 2 -->
	<div class="col-span-6">
		<mat-label>{{ 'Dependency (Parent)' }}</mat-label>
		<app-codemirror [doc]="jsonStringify(data?.dependency_parent)" [readOnly]="true"></app-codemirror>
	</div>

	<div class="col-span-6">
		<mat-label>{{ 'Dependency (Child)' }}</mat-label>
		<app-codemirror [doc]="jsonStringify(data?.dependency_child)" [readOnly]="true"></app-codemirror>
	</div>
	<!-- Row 2 -->

</form>
