<form class="grid grid-cols-12 gap-x-3 gap-y-7" [formGroup]="formGroup">

	<!-- Row 1 -->
	<div class="col-span-6">
		<mat-form-field appearance="outline" color="accent">
			<mat-label>{{ 'Field Configs' }}</mat-label>
			<textarea matInput formControlName="field_configs" placeholder="Please fill the configs..."
				rows="15"></textarea> <!-- (input)="onInput($event)" -->

			<mat-error [innerHTML]="''"
				*ngIf="formGroup?.get('field_configs')?.invalid && (formGroup?.get('field_configs')?.dirty || formGroup?.get('field_configs')?.touched)"></mat-error>
			<mat-hint [innerHTML]="'The configs of field (Exp: form-control).'"></mat-hint>
		</mat-form-field>
	</div>

	<div class="col-span-6">
		<mat-form-field appearance="outline" color="accent">
			<mat-label>{{ 'Validation Configs' }}</mat-label>
			<textarea matInput formControlName="validation_configs" placeholder="Please fill the validation configs..."
				rows="15"></textarea> <!-- (input)="onInput($event)" -->

			<mat-error [innerHTML]="''"
				*ngIf="formGroup?.get('validation_configs')?.invalid && (formGroup?.get('validation_configs')?.dirty || formGroup?.get('validation_configs')?.touched)"></mat-error>
			<mat-hint [innerHTML]="'The configs of validation (Exp: min: 1, pattern: ^[0-9]*$).'"></mat-hint>
		</mat-form-field>
	</div>
	<!-- Row 1 -->

	<!-- Row 2 -->
	<div class="col-span-6">
		<mat-form-field appearance="outline" color="accent">
			<mat-label>{{ 'Dependency (Parent)' }}</mat-label>
			<textarea matInput type="number" formControlName="dependency_parent"
				placeholder="Please fill the dependency to a field from..." rows="15"></textarea>
			<!-- (input)="onInput($event)" -->

			<mat-error [innerHTML]="''"
				*ngIf="formGroup?.get('dependency_parent')?.invalid && (formGroup?.get('dependency_parent')?.dirty || formGroup?.get('dependency_parent')?.touched)"></mat-error>
			<mat-hint [innerHTML]="'The dependency configurations to a source field from (parent) (Exp: ...).'"></mat-hint>
		</mat-form-field>
	</div>

	<div class="col-span-6">
		<mat-form-field appearance="outline" color="accent">
			<mat-label>{{ 'Dependency (Child)' }}</mat-label>
			<textarea matInput type="number" formControlName="dependency_child"
				placeholder="Please fill the dependency to a field target..." rows="15"></textarea>
			<!-- (input)="onInput($event)" -->

			<mat-error [innerHTML]="''"
				*ngIf="formGroup?.get('dependency_child')?.invalid && (formGroup?.get('dependency_child')?.dirty || formGroup?.get('dependency_child')?.touched)"></mat-error>
			<mat-hint [innerHTML]="'The dependency configurations to a target field (child) (Exp: ...).'"></mat-hint>
		</mat-form-field>
	</div>
	<!-- Row 2 -->

</form>
