// mat-button
button.mat-button, a.mat-button { margin-right: 10px; }

// mat-raised-button
button.mat-raised-button, a.mat-raised-button { margin-right: 10px; }

// mat-stroked-button
button.mat-stroked-button, a.mat-stroked-button { margin-right: 10px; }

// mat-flat-button
button.mat-flat-button, a.mat-flat-button { margin-right: 10px; }

// mat-icon-button, mat-fab, mat-mini-fab
button.mat-icon-button, button.mat-fab, button.mat-mini-fab { margin-right: 10px; }