<mat-card class="max-w-none m-7">
	<mat-card-title>Components</mat-card-title>

	<mat-divider></mat-divider>

	<mat-card-content>

		<!-- Button -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Button</div>
				<mat-divider inset></mat-divider>
			</div>

			<div class="grid grid-cols-2 gap-4">

				<!-- Basic -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Basic</div>
					<div>
						<button mat-button>Basic</button>
						<button mat-button color="primary">Primary</button>
						<button mat-button color="accent">Accent</button>
						<button mat-button color="warn">Warn</button>
						<button mat-button disabled>Disabled</button>
						<a mat-button href="https://www.google.com/" target="_blank">Link to Google</a>
					</div>
				</div>

				<!-- Raised -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Raised</div>
					<div>
						<button mat-raised-button>Basic</button>
						<button mat-raised-button color="primary">Primary</button>
						<button mat-raised-button color="accent">Accent</button>
						<button mat-raised-button color="warn">Warn</button>
						<button mat-raised-button disabled>Disabled</button>
						<a mat-raised-button href="https://www.google.com/" target="_blank">Link to Google</a>
					</div>
				</div>

				<!-- Stroked -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Stroked</div>
					<div>
						<button mat-stroked-button>Basic</button>
						<button mat-stroked-button color="primary">Primary</button>
						<button mat-stroked-button color="accent">Accent</button>
						<button mat-stroked-button color="warn">Warn</button>
						<button mat-stroked-button disabled>Disabled</button>
						<a mat-stroked-button href="https://www.google.com/" target="_blank">Link to Google</a>
					</div>
				</div>

				<!-- Flat -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Flat</div>
					<div>
						<button mat-flat-button>Basic</button>
						<button mat-flat-button color="primary">Primary</button>
						<button mat-flat-button color="accent">Accent</button>
						<button mat-flat-button color="warn">Warn</button>
						<button mat-flat-button disabled>Disabled</button>
						<a mat-flat-button href="https://www.google.com/" target="_blank">Link to Google</a>
					</div>
				</div>

			</div>

			<div class="grid grid-cols-4 gap-4">

				<!-- Icon -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Icon</div>
					<div>
						<button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
							<mat-icon>more_vert</mat-icon>
						</button>
						<button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
							<mat-icon>home</mat-icon>
						</button>
						<button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
							<mat-icon>menu</mat-icon>
						</button>
						<button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
							<mat-icon>favorite</mat-icon>
						</button>
						<button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
							<mat-icon>open_in_new</mat-icon>
						</button>
					</div>
				</div>

				<!-- FAB -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">FAB</div>
					<div>
						<button mat-fab color="primary" aria-label="Example icon button with a delete icon">
							<mat-icon>delete</mat-icon>
						</button>
						<button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
							<mat-icon>bookmark</mat-icon>
						</button>
						<button mat-fab color="warn" aria-label="Example icon button with a home icon">
							<mat-icon>home</mat-icon>
						</button>
						<button mat-fab disabled aria-label="Example icon button with a heart icon">
							<mat-icon>favorite</mat-icon>
						</button>
					</div>
				</div>

				<!-- Mini FAB -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Mini FAB</div>
					<div>
						<button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
							<mat-icon>menu</mat-icon>
						</button>

						<button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
							<mat-icon>plus_one</mat-icon>
						</button>

						<button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
							<mat-icon>filter_list</mat-icon>
						</button>

						<button mat-mini-fab disabled aria-label="Example icon button with a home icon">
							<mat-icon>home</mat-icon>
						</button>
					</div>
				</div>

			</div>

		</section>

		<!-- Button toggle -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Button toggle</div>
				<mat-divider inset></mat-divider>
			</div>

			<!-- Button toggle appearance -->
			<div class="grid grid-cols-4 gap-4">

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Default appearance</div>
					<div>
						<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
							<mat-button-toggle value="bold">Bold</mat-button-toggle>
							<mat-button-toggle value="italic">Italic</mat-button-toggle>
							<mat-button-toggle value="underline">Underline</mat-button-toggle>
						</mat-button-toggle-group>
					</div>
				</div>

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Legacy appearance</div>
					<div>
						<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
							<mat-button-toggle value="bold">Bold</mat-button-toggle>
							<mat-button-toggle value="italic">Italic</mat-button-toggle>
							<mat-button-toggle value="underline">Underline</mat-button-toggle>
						</mat-button-toggle-group>
					</div>
				</div>

			</div>

		</section>

		<!-- Form -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Form</div>
				<mat-divider inset></mat-divider>
			</div>

			<form class="grid grid-cols-4 gap-4">

				<!-- Text -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Text</div>
					<mat-form-field appearance="outline" [color]="'accent'">
						<mat-label>Text</mat-label>
						<input matInput>
					</mat-form-field>
				</div>

				<!-- Number -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Number</div>
					<mat-form-field appearance="outline" [color]="'accent'">
						<mat-label>Number</mat-label>
						<input matInput type="number" placeholder="Ex. 12" min="1">
						<span matSuffix>px</span>
					</mat-form-field>
				</div>

				<!-- Select -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Select</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Select</mat-label>
						<mat-select>
							<mat-option value="one">First option</mat-option>
							<mat-option value="two">Second option</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<!-- Password -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Password</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Enter your password</mat-label>
						<input matInput [type]="(hidePassword) ? 'password' : 'text'">
						<button mat-icon-button matSuffix (click)="setHidePassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
							<mat-icon>{{ (hidePassword) ? 'visibility_off' : 'visibility' }}</mat-icon>
						</button>
					</mat-form-field>
				</div>

				<!-- Date picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Choose a date</mat-label>
						<input matInput [matDatepicker]="datePicker">
						<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
						<mat-datepicker #datePicker></mat-datepicker>
					</mat-form-field>
				</div>

				<!-- Date range picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date range picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Enter a date range</mat-label>
						<mat-date-range-input [rangePicker]="dateRangePicker">
							<input matStartDate placeholder="Start date">
							<input matEndDate placeholder="End date">
						</mat-date-range-input>
						<mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
						<mat-date-range-picker #dateRangePicker></mat-date-range-picker>
					</mat-form-field>
				</div>

				<!-- Checkbox, radio and slide -->
				<div class="col-span-2 grid grid-cols-3 mb-3">

					<!-- Checkbox -->
					<div class="mb-3">
						<div class="text-title text-sm mb-2">Checkbox</div>
						<!--<mat-form-field appearance="fill" [color]="'accent'">-->
							<mat-checkbox >Hide required marker</mat-checkbox>
						<!--</mat-form-field>-->
					</div>

					<!-- Radio -->
					<div class="mb-3">
						<div class="text-title text-sm mb-2">Radio</div>
						<mat-radio-group [(ngModel)]="radioField" [ngModelOptions]="{ standalone: true }">
							<mat-radio-button value="auto">Auto</mat-radio-button>
							<mat-radio-button value="always">Always</mat-radio-button>
						</mat-radio-group>
					</div>

					<!-- Slide -->
					<div class="mb-3">
						<div class="text-title text-sm mb-2">Slide</div>
						<mat-slide-toggle>Slide me!</mat-slide-toggle>
					</div>

				</div>

			</form>

			<form class="grid grid-cols-2 gap-4">

				<!-- Chips -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Chips</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Chips</mat-label>
						<mat-chip-grid #chipList aria-label="Fruit selection">
							<mat-chip *ngFor="let fruit of chipsField" (removed)="chipsRemove(fruit)">
								{{ fruit.name }}
								<button matChipRemove>
									<mat-icon>cancel</mat-icon>
								</button>
							</mat-chip>
							<input placeholder="New fruit..." [matChipInputFor]="chipList"
								[matChipInputSeparatorKeyCodes]="chipsSeparatorKeysCodes" [matChipInputAddOnBlur]="chipsAddOnBlur"
								(matChipInputTokenEnd)="chipsAdd($event)">
						</mat-chip-grid>
					</mat-form-field>
				</div>

				<!-- Textarea -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Textarea</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Textarea</mat-label>
						<textarea matInput></textarea>
					</mat-form-field>
				</div>

				<!-- Slider -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Slider</div>
					<mat-slider [max]="100" [min]="0" [step]="1" discrete showTickMarks [(ngModel)]="sliderField" [ngModelOptions]="{ standalone: true }">
						<input matSliderThumb>
					</mat-slider>
				</div>

			</form>

		</section>

		<!-- Custom datetime picker -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Custom datetime picker</div>
				<mat-divider inset></mat-divider>
			</div>

			<form class="grid grid-cols-3 gap-4">

				<!-- Custom date picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date picker</div>
					<app-datetime-picker label="Date" mode="date"></app-datetime-picker>
				</div>

				<!-- Custom month picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Month and year picker</div>
					<app-datetime-picker label="Month and year" mode="month"></app-datetime-picker>
				</div>

				<!-- Custom year picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Year picker</div>
					<app-datetime-picker label="Year" mode="year"></app-datetime-picker>
				</div>

				<!-- Custom time picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Time picker</div>
					<app-datetime-picker label="Time" mode="time"></app-datetime-picker>
				</div>

				<!-- Custom date and time picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date and time picker</div>
					<app-datetime-picker label="Date and time" mode="datetime"></app-datetime-picker>
				</div>

			</form>

		</section>

		<!-- mat-datetime-picker component -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">mat-datetime-picker component</div>
				<mat-divider inset></mat-divider>
			</div>

			<form class="grid grid-cols-4 gap-4">

				<!-- Mat date picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Date picker</mat-label>
						<input matInput [type]="'datetime-local'" [(ngModel)]="owlDateField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Date picker'">
					</mat-form-field>
				</div>

				<!-- Mat month picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Month and year picker</div>
					<!--<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Month picker</mat-label>
						<input matInput [owlDateTime]="dt2" [(ngModel)]="owlMonthField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Month picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt2"><mat-icon>calendar_view_month</mat-icon></button>
						<owl-date-time [pickerType]="'calendar'" [startView]="owlDateTimeMonthStartView" (monthSelected)="setOwlDateTimeMonthYear($event, dt2)" #dt2></owl-date-time>
					</mat-form-field>-->
				</div>

				<!-- Mat year picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Year picker</div>
					<!--<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Year picker</mat-label>
						<input matInput [owlDateTime]="dt3" [(ngModel)]="owlYearField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Year picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt3"><mat-icon>calendar_month</mat-icon></button>
						<owl-date-time [pickerType]="'calendar'" [startView]="owlDateTimeYearStartView" (yearSelected)="setOwlDateTimeYear($event, dt3)" #dt3></owl-date-time>
					</mat-form-field>-->
				</div>

				<!-- Mat time picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Time picker</div>
					<!--<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Time picker</mat-label>-->
						<!--<input matInput [ngxMatDatetimePicker]="matTimePicker" [(ngModel)]="owlTimeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Choose a time'">-->
						<!--<mat-datepicker-toggle matSuffix [for]="$any(matTimePicker)"></mat-datepicker-toggle>-->
						<ngx-mat-timepicker [(ngModel)]="owlTimeField" [ngModelOptions]="{ standalone: true }" [showSpinners]="true" [showSeconds]="true" [color]="'accent'" #matTimePicker></ngx-mat-timepicker>
					<!--</mat-form-field>-->
				</div>

				<!-- Mat date and time picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date and time picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Date time picker</mat-label>
						<input matInput [ngxMatDatetimePicker]="matDateTimePicker" [(ngModel)]="owlDateTimeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Choose a date and time'">
						<mat-datepicker-toggle matSuffix [for]="$any(matDateTimePicker)"></mat-datepicker-toggle>
						<ngx-mat-datetime-picker [showSpinners]="true" [showSeconds]="true" [color]="'accent'" [hideTime]="false" #matDateTimePicker></ngx-mat-datetime-picker>
					</mat-form-field>
				</div>

				<!-- Mat date range picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date range picker</div>
					<!--<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Date range picker</mat-label>
						<input matInput [owlDateTime]="dt6" [selectMode]="'range'" [(ngModel)]="owlDateRangeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Date range picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt6"><mat-icon>date_range</mat-icon></button>
						<owl-date-time [pickerType]="'calendar'" #dt6></owl-date-time>
					</mat-form-field>-->
				</div>

				<!-- Mat time range picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Time range picker</div>
					<!--<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Time range picker</mat-label>
						<input matInput [owlDateTime]="dt7" [selectMode]="'range'" [(ngModel)]="owlTimeRangeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Time range picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt7"><mat-icon>av_timer</mat-icon></button>
						<owl-date-time [pickerType]="'timer'" [showSecondsTimer]="true" #dt7></owl-date-time>
					</mat-form-field>-->
				</div>

				<!-- Mat date time range picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date time range picker</div>
					<!--<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Date time range picker</mat-label>
						<input matInput [owlDateTime]="dt8" [selectMode]="'range'" [(ngModel)]="owlDateTimeRangeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Date time range picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt8"><mat-icon>date_range</mat-icon></button>
						<owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt8></owl-date-time>
					</mat-form-field>-->
				</div>

			</form>

		</section>

		<!-- @danielmoncada/angular-datetime-picker component -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">@danielmoncada/angular-datetime-picker component</div>
				<mat-divider inset></mat-divider>
			</div>

			<form class="grid grid-cols-4 gap-4">

				<!-- OWL date picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Date picker</mat-label>
						<input matInput [owlDateTime]="dt1" [(ngModel)]="owlDateField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Date picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt1"><mat-icon>calendar_month</mat-icon></button>
						<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
					</mat-form-field>
				</div>

				<!-- OWL month picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Month and year picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Month picker</mat-label>
						<input matInput [owlDateTime]="dt2" [(ngModel)]="owlMonthField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Month picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt2"><mat-icon>calendar_view_month</mat-icon></button>
						<owl-date-time [pickerType]="'calendar'" [startView]="owlDateTimeMonthStartView" (monthSelected)="setOwlDateTimeMonthYear($event, dt2)" #dt2></owl-date-time>
					</mat-form-field>
				</div>

				<!-- OWL year picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Year picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Year picker</mat-label>
						<input matInput [owlDateTime]="dt3" [(ngModel)]="owlYearField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Year picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt3"><mat-icon>calendar_month</mat-icon></button>
						<owl-date-time [pickerType]="'calendar'" [startView]="owlDateTimeYearStartView" (yearSelected)="setOwlDateTimeYear($event, dt3)" #dt3></owl-date-time>
					</mat-form-field>
				</div>

				<!-- OWL time picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Time picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Time picker</mat-label>
						<input matInput [owlDateTime]="dt4" [(ngModel)]="owlTimeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Time picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt4"><mat-icon>access_time_filled</mat-icon></button>
						<owl-date-time [pickerType]="'timer'" [showSecondsTimer]="true" #dt4></owl-date-time>
					</mat-form-field>
				</div>

				<!-- OWL date and time picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date and time picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Date time picker</mat-label>
						<input matInput [owlDateTime]="dt5" [(ngModel)]="owlDateTimeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Date time picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt5"><mat-icon>calendar_month</mat-icon></button>
						<owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt5></owl-date-time>
					</mat-form-field>
				</div>

				<!-- OWL date range picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date range picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Date range picker</mat-label>
						<input matInput [owlDateTime]="dt6" [selectMode]="'range'" [(ngModel)]="owlDateRangeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Date range picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt6"><mat-icon>date_range</mat-icon></button>
						<owl-date-time [pickerType]="'calendar'" #dt6></owl-date-time>
					</mat-form-field>
				</div>

				<!-- OWL time range picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Time range picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Time range picker</mat-label>
						<input matInput [owlDateTime]="dt7" [selectMode]="'range'" [(ngModel)]="owlTimeRangeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Time range picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt7"><mat-icon>av_timer</mat-icon></button>
						<owl-date-time [pickerType]="'timer'" [showSecondsTimer]="true" #dt7></owl-date-time>
					</mat-form-field>
				</div>

				<!-- OWL date time range picker -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Date time range picker</div>
					<mat-form-field appearance="fill" [color]="'accent'">
						<mat-label>Date time range picker</mat-label>
						<input matInput [owlDateTime]="dt8" [selectMode]="'range'" [(ngModel)]="owlDateTimeRangeField" [ngModelOptions]="{ standalone: true }" [placeholder]="'Date time range picker'">
						<button mat-icon-button matSuffix [owlDateTimeTrigger]="dt8"><mat-icon>date_range</mat-icon></button>
						<owl-date-time [pickerType]="'both'" [showSecondsTimer]="true" #dt8></owl-date-time>
					</mat-form-field>
				</div>

			</form>

		</section>

		<!-- Snackbar -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Snackbar</div>
				<mat-divider inset></mat-divider>
			</div>

			<div class="grid grid-cols-2 gap-4">

				<!-- Default snackbar -->
				<div class="mb-3">
					<div class="text-title text-sm mb-2">Default snackbar</div>
					<div>
						<mat-form-field appearance="fill">
							<mat-label>Message</mat-label>
							<input matInput value="Lorem ipsum!" #message>
						</mat-form-field>

						<mat-form-field appearance="fill">
							<mat-label>Action</mat-label>
							<input matInput value="Dismiss" #action>
						</mat-form-field>

						<button mat-stroked-button (click)="openSnackbar(message.value, action.value)">Show snack-bar</button>
					</div>
				</div>

			</div>

		</section>

		<!-- Progress bar -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Progress bar</div>
				<mat-divider inset></mat-divider>
			</div>

			<div class="mb-3">
				<div class="text-title text-sm mb-2">Determinate</div>
				<mat-progress-bar [color]="'accent'" mode="determinate" value="40"></mat-progress-bar>
			</div>

			<div class="mb-3">
				<div class="text-title text-sm mb-2">Indeterminate</div>
				<mat-progress-bar [color]="'accent'" mode="indeterminate"></mat-progress-bar>
			</div>

		</section>

		<!-- Progress spinner -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Progress spinner</div>
				<mat-divider inset></mat-divider>
			</div>

			<div class="grid grid-cols-4 gap-4">

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Determinate</div>
					<mat-progress-spinner [color]="'accent'" mode="determinate" value="40"></mat-progress-spinner>
				</div>

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Indeterminate</div>
					<mat-progress-spinner [color]="'accent'" [mode]="'indeterminate'"></mat-progress-spinner>
				</div>

			</div>

		</section>

		<!-- Table -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Table</div>
				<mat-divider inset></mat-divider>
			</div>

			<div class="grid grid-cols-2 gap-4">

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Basic table</div>
					<table mat-table [dataSource]="tableDataSource" class="mat-elevation-z8">

						<!-- Position Column -->
						<ng-container matColumnDef="position">
							<th mat-header-cell *matHeaderCellDef> No. </th>
							<td mat-cell *matCellDef="let element"> {{element.position}} </td>
						</ng-container>

						<!-- Name Column -->
						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef> Name </th>
							<td mat-cell *matCellDef="let element"> {{element.name}} </td>
						</ng-container>

						<!-- Weight Column -->
						<ng-container matColumnDef="weight">
							<th mat-header-cell *matHeaderCellDef> Weight </th>
							<td mat-cell *matCellDef="let element"> {{element.weight}} </td>
						</ng-container>

						<!-- Symbol Column -->
						<ng-container matColumnDef="symbol">
							<th mat-header-cell *matHeaderCellDef> Symbol </th>
							<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></tr>
					</table>
				</div>

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Pagination table</div>
					<div class="mat-elevation-z8">
						<table mat-table [dataSource]="tableDataSource">

							<!-- Position Column -->
							<ng-container matColumnDef="position">
								<th mat-header-cell *matHeaderCellDef> No. </th>
								<td mat-cell *matCellDef="let element"> {{element.position}} </td>
							</ng-container>

							<!-- Name Column -->
							<ng-container matColumnDef="name">
								<th mat-header-cell *matHeaderCellDef> Name </th>
								<td mat-cell *matCellDef="let element"> {{element.name}} </td>
							</ng-container>

							<!-- Weight Column -->
							<ng-container matColumnDef="weight">
								<th mat-header-cell *matHeaderCellDef> Weight </th>
								<td mat-cell *matCellDef="let element"> {{element.weight}} </td>
							</ng-container>

							<!-- Symbol Column -->
							<ng-container matColumnDef="symbol">
								<th mat-header-cell *matHeaderCellDef> Symbol </th>
								<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
							</ng-container>

							<tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></tr>
						</table>

						<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
					</div>
				</div>

			</div>

		</section>

		<!-- Card -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Card</div>
				<mat-divider inset></mat-divider>
			</div>

			<div class="grid grid-cols-2 gap-4">

				<div class="mb-3">
					<div class="text-title text-sm mb-2">No header</div>
					<mat-card class="border border-solid border-gray-500">
						<mat-card-title>Dynamic form app</mat-card-title>

						<mat-card-content>
							<p>This is dynamic form implementation project in angular app.</p>

							By <a class="text-white" href="https://github.com/ibent95">ibent95</a>
						</mat-card-content>
					</mat-card>
				</div>

				<div class="mb-3">
					<div class="text-title text-sm mb-2">With header</div>
					<mat-card class="border border-solid border-gray-500">
						<mat-card-title>Dynamic form app</mat-card-title>
						<mat-card-subtitle>Subtitle</mat-card-subtitle>

						<mat-divider></mat-divider>

						<mat-card-content>
							<p>This is dynamic form implementation project in angular app.</p>

							By <a class="text-white" href="https://github.com/ibent95">ibent95</a>
						</mat-card-content>
					</mat-card>
				</div>

			</div>

		</section>

		<!-- Ghost component -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Ghost component</div>
				<mat-divider inset></mat-divider>
			</div>

			<div class="grid grid-cols-2 gap-4">

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Ghost table (TailwindCSS`s grid style)</div>

					<app-ghost-table [rowCount]="3" [columnCount]="4"></app-ghost-table>
				</div>

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Ghost table (Material`s grid style)</div>
					<div class="mat-elevation-z8">
						<p>Comming soon</p>
					</div>
				</div>

			</div>

		</section>

		<!-- Page component -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Page component</div>
				<mat-divider inset></mat-divider>
			</div>

			<div class="grid grid-cols-2 gap-4">

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Page not found</div>

					<div class="mat-elevation-z8">
						<app-page-not-found></app-page-not-found>
					</div>
				</div>

				<div class="mb-3">
					<div class="text-title text-sm mb-2">Page under construction</div>

					<div class="mat-elevation-z8">
						<app-page-under-construction></app-page-under-construction>
					</div>
				</div>

			</div>

		</section>

		<!-- Grid system -->
		<section class="mb-4">
			<div class="mb-2">
				<div class="text-title text-lg">Grid system</div>
				<mat-divider inset></mat-divider>
			</div>

			<div class="grid grid-flow-row auto-rows-max gap-4">

				<div class="">
					<div class="text-title text-sm mb-2">Bootstrap</div>

					<div class="mat-elevation-z8">
						<app-page-under-construction></app-page-under-construction>
					</div>
				</div>

				<div class="">
					<div class="text-title text-sm mb-2">Tailwind</div>

					<div class="mat-elevation-z8">

						<div class="grid grid-rows-6 grid-cols-12 grid-flow-col gap-4">
							<div class="row-span-2 col-span-2" style="background-color: purple;">01</div>
							<div class="row-span-1 col-span-2" style="background-color: green;">02</div>
							<div class="row-span-3 col-span-3" style="background-color: gray;">03</div>
							<div class="row-span-3 col-span-1" style="background-color: yellow;">04</div>
							<div class="row-span-1 col-span-3" style="background-color: orange;">05</div>
							<div class="row-span-2 col-span-1" style="background-color: brown;">06</div>
							<div class="row-span-3 col-span-1" style="background-color: blue;">07</div>
							<div class="row-span-5 col-span-2" style="background-color: pink;">08</div>
							<div class="row-span-6 col-span-2" style="background-color: red;">09</div>
							<div class="row-span-3 col-span-2" style="background-color: lavender;">10</div>
							<div class="row-span-3 col-span-2" style="background-color: cyan;">11</div>
							<div class="row-span-6 col-span-2" style="background-color: magenta;">12</div>
						</div>

					</div>
				</div>

				<div class="">
					<div class="text-title text-sm mb-2">material</div>

					<div class="mat-elevation-z8">
						<app-page-under-construction></app-page-under-construction>
					</div>
				</div>

			</div>

		</section>

	</mat-card-content>
</mat-card>