::ng-deep .border-custom {
	border-style: solid !important;
	border-width: 1px !important;
	border-radius: 0.25rem !important;
	border-color: rgba(255, 255, 255, 0.286) !important;
	z-index: 500;
}

::ng-deep mat-form-field { .mat-form-field-wrapper { margin-bottom: 0; padding-bottom: 0; } }

::ng-deep mat-stepper .mat-vertical-content-container .flex button { margin-bottom: 0; }

::ng-deep .below-form button { margin-bottom: 0; }