<mat-card class="max-w-none m-7">
	<mat-card-title>Publication`s form</mat-card-title>
	<mat-card-subtitle>Form of publication</mat-card-subtitle>

	<mat-divider></mat-divider>

	<mat-card-content>

		<ng-container *ngIf="!available.form_builder">No data</ng-container>

		<ng-container *ngIf="available.form_builder">
			<form [formGroup]="forms" class="grid grid-cols-4 gap-4">

				<ngx-select
					class="form-control"
					id="publication_type_uuid"
					placeholder="-- Choose publication type --"
					[formControlName]="'publication_type_uuid'"
					[items]="selectOptions['publication_type'].items"
					[optionTextField]="'publication_type_name'"
					[optionValueField]="'uuid'"
					[defaultValue]="selectOptions['publication_type'].defaultValue"
					(selectionChanges)="onPublicationTypeClick($event)"
				></ngx-select>

				<ng-container *ngIf="(available.publication_type_selected && !available.form_metadata)">
					Load data
				</ng-container>

				<ng-container *ngIf="(available.publication_type_selected && available.form_metadata)">

				</ng-container>

			</form>
		</ng-container>

	</mat-card-content>
</mat-card>