<mat-card class=" m-7">
	<mat-card-title>Publication`s form</mat-card-title>
	<mat-card-subtitle>Form of publication</mat-card-subtitle>

	<mat-divider></mat-divider>

	<mat-card-content>

		<ng-container *ngIf="(!dfMetadata.isFormBuilderCreated && !dfMetadata.isFormTypeLoaded)">
			No data...
		</ng-container>

		<ng-container *ngIf="(dfMetadata.isFormBuilderCreated && !dfMetadata.isFormTypeLoaded)">
			<app-loader></app-loader>
		</ng-container>

		<form [formGroup]="forms" *ngIf="(dfMetadata.isFormBuilderCreated && dfMetadata.isFormTypeLoaded)">

			<!-- No grid system -->
			<ng-container *ngIf="(dfMetadata.gridSystems.type === 'no_grid_system' || dfMetadata.gridSystems.type === 'default')">
				<app-publication-form-grid-systems-default [dfMetadata]="dfMetadata" [parentForms]="forms" (onPublicationTypeSelected)="onPublicationTypeSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-grid-systems-default>
			</ng-container>

			<!-- Material grid system -->
			<ng-container *ngIf="(dfMetadata.gridSystems.type === 'material')">
				<app-publication-form-grid-systems-material [dfMetadata]="dfMetadata" [parentForms]="forms" (onPublicationTypeSelected)="onPublicationTypeSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-grid-systems-material>
			</ng-container>

			<!-- Bootstrap grid system -->
			<ng-container *ngIf="(dfMetadata.gridSystems.type === 'bootstrap')">
				<app-publication-form-grid-systems-bootstrap [dfMetadata]="dfMetadata" [parentForms]="forms" (onPublicationTypeSelected)="onPublicationTypeSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-grid-systems-bootstrap>
			</ng-container>

			<!-- =Tailwind grid system -->
			<ng-container *ngIf="(dfMetadata.gridSystems.type === 'tailwind')">
				<app-publication-form-grid-systems-tailwind [dfMetadata]="dfMetadata" [parentForms]="forms" (onPublicationTypeSelected)="onPublicationTypeSelect($event)" (onFormCancelButtonClicked)="onFormCancelButtonClick()" (onFormSubmitButtonClicked)="onFormSubmitButtonClick()"></app-publication-form-grid-systems-tailwind>
			</ng-container>

		</form>

	</mat-card-content>

	<mat-card-footer class="below-form mt-3" *ngIf="(dfMetadata?.isFormBuilderCreated && dfMetadata?.isMetadataLoaded )">
		<mat-divider></mat-divider>

		<div class="flex justify-center gap-4 my-3">
			<button mat-stroked-button class="flex-initial w-32" [color]="'warn'" (click)="onFormCancelButtonClick()" [disabled]="dfMetadata.isCancelButtonDisabled">Cancel</button>
			<button mat-raised-button class="flex-initial w-32" [color]="'accent'" (click)="onFormSubmitButtonClick()" [disabled]="(dfMetadata.isSubmitButtonDisabled || !forms.valid)">Save</button>
		</div>
		<mat-progress-bar mode="indeterminate" *ngIf="dfMetadata?.isInSaveProcess"></mat-progress-bar>
	  </mat-card-footer>
</mat-card>