<mat-form-field [appearance]="appearance" [color]="color" [formGroup]="formGroup">
	<mat-label>{{ field.field_label }}</mat-label>

	<!-- File binaries -->
	<input type="hidden" [formControlName]="field.field_name" [placeholder]="field.field_placeholder" hidden />

	<!-- File inputs/chooser: files input/chooser dialog -->
	<input type="file" (change)="onSelected(fileInput.files)" #fileInput id="file" hidden />

	<!-- File names -->
	<input type="text" matInput [value]="value" [placeholder]="field.field_placeholder" readonly />

	<!-- Clear button -->
	<button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
		<mat-icon>close</mat-icon>
	</button>

	<!-- Files button: to trigger files inputs/chooser dialog -->
	<button mat-raised-button (click)="fileInput.click()">Choose File</button>
</mat-form-field>