<mat-form-field [appearance]="appearance" [color]="color" [formGroup]="formGroup">
	<mat-label>{{ field.field_label }}</mat-label>
	<input matInput [formControlName]="field.field_name" [placeholder]="field.field_placeholder" [owlDateTime]="monthPicker">
	<button mat-icon-button matSuffix [owlDateTimeTrigger]="monthPicker"><mat-icon>calendar_view_month</mat-icon></button>
	<owl-date-time [pickerType]="'calendar'" [startView]="owlDateTimeMonthStartView" (monthSelected)="setOwlDateTimeMonthYear($event, monthPicker)" #monthPicker></owl-date-time>
</mat-form-field>