<mat-card class="container">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>Title</mat-card-title>
		<mat-card-subtitle>Subtitle</mat-card-subtitle>
	</mat-card-header>

	<mat-divider inset></mat-divider>

	<mat-card-content>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos totam omnis neque, nemo facere error iusto, fugit ea deleniti alias at. Reiciendis modi quae totam et minima, maiores earum a. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ipsum harum architecto fugit molestiae expedita id aperiam, aut molestias saepe quas tempora corporis tenetur soluta culpa, consectetur, voluptatibus quia ducimus.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum velit provident recusandae nostrum. Maxime necessitatibus nulla nobis, magnam molestias labore corporis consequatur! Cumque similique placeat rerum exercitationem laboriosam iste quod.
		</p>
	</mat-card-content>

	<mat-divider inset></mat-divider>

	<mat-card-actions align="end">
		<button mat-button>Like</button>
		<button mat-button>SHARE</button>
	</mat-card-actions>

	<mat-card-footer>
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</mat-card-footer>
</mat-card>