ng-deep table {

	.table-detail {
		opacity: 0;
		visibility: hidden;

		-webkit-transition: opacity 600ms, visibility 600ms;
		transition: opacity 600ms, visibility 600ms;
	}

	.table-detail-show {
		visibility: visible !important;
		opacity: 1 !important;
	}

}
