<ng-container *ngIf="!isShowDetail">
	<div [formGroup]="formGroup">
		<ngx-select class="form-control" id="publication_type_uuid" placeholder="-- Choose publication type --"
			[formControlName]="'publication_type_uuid'" [items]="options.items"
			[optionTextField]="'publication_type_name'" [optionValueField]="'uuid'"
			[defaultValue]="options.default_value"
			(selectionChanges)="onSelectionChanges($event)"></ngx-select>
	
		<mat-error [innerHTML]="field.error_message" *ngIf="formGroup.get(field.field_name)?.invalid && (formGroup.get(field.field_name)?.dirty || formGroup.get(field.field_name)?.touched)"></mat-error>
		<mat-hint [innerHTML]="field.description"></mat-hint>
	</div>
</ng-container>

<ng-container *ngIf="isShowDetail">
	{{ field.value }}
</ng-container>
