<ng-container *ngIf="!isShowDetail">
	<mat-form-field [appearance]="appearance" [color]="color" [formGroup]="formGroup">
		<mat-label>{{ field.field_label }}</mat-label>

		<!-- File binaries -->
		<input type="hidden" [formControlName]="field.field_name" [placeholder]="field.field_placeholder" hidden />

		<!-- File inputs/chooser: files input/chooser dialog -->
		<input type="file" (change)="onSelected(fileInput.files)" #fileInput id="file" hidden />

		<!-- File names -->
		<ng-container *ngIf="!fileHasChanged; else fileChanged;">
			<a [href]="field.other_value?.url" target="_blank" rel="noopener noreferrer" [innerHTML]="value">
				<input type="text" matInput [value]="value" [placeholder]="field.field_placeholder || 'Please choose a file.'" [readonly]="true" />
			</a>
		</ng-container>
		<ng-template #fileChanged>
			<input type="text" matInput [value]="value" [placeholder]="field.field_placeholder || 'Please choose a file.'" [readonly]="true" />
		</ng-template>

		<!-- Clear button -->
		<button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
			<mat-icon>close</mat-icon>
		</button>

		<!-- Files button: to trigger files inputs/chooser dialog -->
		<button mat-raised-button (click)="fileInput.click()">Choose File</button>

		<mat-error [innerHTML]="field.error_message" *ngIf="formGroup.get(field.field_name)?.invalid && (formGroup.get(field.field_name)?.dirty || formGroup.get(field.field_name)?.touched)"></mat-error>
		<mat-hint [innerHTML]="field.description"></mat-hint>
	</mat-form-field>
</ng-container>

<ng-container *ngIf="isShowDetail">
	{{ field.value }}
</ng-container>
