<div class="grid grid-cols-1 gap-4">

	<mat-form-field appearance="outline" [color]="'accent'">
		<mat-label>Publication type</mat-label>
		<mat-select [formControlName]="'publication_type_uuid'">
			<ng-container *ngFor="let publicationType of dfMetadata.selectOptions.publication_type.items; let publicationTypeIndex = index;">
				<mat-option [value]="publicationType.uuid">{{ publicationType.publication_type_name + ' [ ' + publicationType.publication_type_code + ' ]' }}</mat-option>
			</ng-container>
		</mat-select>
	</mat-form-field>

	<!--<ngx-select
		class="form-control"
		id="publication_type_uuid"
		placeholder="-- Choose publication type --"
		[formControlName]="'publication_type_uuid'"
		[items]="selectOptions['publication_type'].items"
		[optionTextField]="'publication_type_name'"
		[optionValueField]="'uuid'"
		[defaultValue]="selectOptions['publication_type'].defaultValue"
		(selectionChanges)="onPublicationTypeClick($event)"
	></ngx-select>-->

	<!-- Show loader if forms meta data is available and is in progress -->
	<ng-container *ngIf="(!dfMetadata.noData && dfMetadata.isFormTypeSelected && !dfMetadata.isMetadataLoaded)">
		<app-loader [messages]="loadingMessage"></app-loader>
	</ng-container>

	<!-- Show no data information if forms meta data is empty -->
	<ng-container *ngIf="(dfMetadata.noData && dfMetadata.isFormTypeSelected && dfMetadata.isMetadataLoaded)">
		<df-custom-alert-info-no-data></df-custom-alert-info-no-data>
	</ng-container>

	<!-- Show forms recursively -->
	<ng-container *ngIf="(!dfMetadata.noData && dfMetadata.isFormTypeSelected && dfMetadata.isMetadataLoaded)">

		<app-publication-form-recursive [dfMetadata]="dfMetadata" [gridSystemsClassConfig]="gridSystemsClassConfig" (onFormBackButtonClicked)="onFormBackButtonClick()"></app-publication-form-recursive>

	</ng-container>

</div>