<ng-container *ngIf="!isShowDetail">
	<mat-form-field [appearance]="appearance" [color]="color" [formGroup]="formGroup">
		<mat-label>{{ field.field_label }}</mat-label>

		<!-- File names -->
		<input type="text" matInput [value]="value" [placeholder]="field.field_placeholder" readonly />
	
		<!-- Clear button -->
		<button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
			<mat-icon>close</mat-icon>
		</button>

		<!-- Image viewer -->
		<div class="pb-1" *ngIf="imageSrcs">
			<img [src]="imageSrcs" class="df-image-preview" id="df-image-preview" alt="image"/>
		</div>

		<!-- Files button: to trigger files inputs/chooser dialog -->
		<button mat-raised-button (click)="onPrepareButtonClick()">Prepare File</button>

		<mat-error [innerHTML]="field.error_message" *ngIf="formGroup.get(field.field_name)?.invalid && (formGroup.get(field.field_name)?.dirty || formGroup.get(field.field_name)?.touched)"></mat-error>
		<mat-hint [innerHTML]="field.description"></mat-hint>
	</mat-form-field>
</ng-container>

<ng-container *ngIf="isShowDetail">
	{{ field.value }}
</ng-container>
