/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card.container {
	margin: 20px 20px 0;
}

mat-card-content {
	margin-top: 20px;
}

mat-list-item.center-content {
	display: flex;
	justify-content: center;
	text-align: center;
}