/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

// @danielmoncada/angular-datetime-picker
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

*, ::before, ::after { border-style: none; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button { margin-right: 10px; margin-bottom: 10px; }

// ============================== Angular Material Custom ============================== //

// mat-button
button.mat-button, a.mat-button {
	margin-bottom: 10px;
	mat-icon { margin-top: -3px; vertical-align: middle; }
}

// mat-raised-button
button.mat-raised-button, a.mat-raised-button {
	margin-bottom: 10px;
	mat-icon { margin-top: -3px; vertical-align: middle; }
}

// mat-stroked-button
button.mat-stroked-button, a.mat-stroked-button {
	margin-bottom: 10px;
	mat-icon { margin-top: -3px; vertical-align: middle; }
}

// mat-flat-button
button.mat-flat-button, a.mat-flat-button {
	margin-bottom: 10px;
	mat-icon { margin-top: -3px; vertical-align: middle; }
}

// mat-icon-button, mat-fab, mat-mini-fab
button.mat-icon-button, button.mat-fab, button.mat-mini-fab { margin-bottom: 10px; }

// mat-input
mat-form-field {
	width: 100%;
	button.mat-icon-button { margin-right: 0 !important; }
	a.mat-icon-button { margin-right: 0 !important; }
}

// mat-select
mat-select { width: 100%; }

// mat-radio-button
mat-radio-button { margin-right: 10px; }

// mat-slider
mat-slider { width: 100%; }

// mat-list-item
mat-list-item.center-content { display: flex; justify-content: center; text-align: center; }

// mat-table
table.mat-table { width: 100%; }

// mat-chip
mat-chip .mat-chip-remove { margin-top: 10px; }

// mat-card
mat-card {

	// mat-card-subtitle
	mat-card-subtitle { padding: 0 10px; }

	// mat-card-title
	mat-card-title { padding: 15px 10px; }

	// mat-card-content
	mat-card-content { margin-top: 20px; padding: 20px 10px; }

}

// mat-stepper
mat-stepper {
	mat-step-header.mat-step-header { padding-left: 15px; padding-right: 15px; }

	.mat-stepper-horizontal-line { margin-left: 0; margin-right: 0; }
	//.mat-horizontal-content-container { margin: 0; padding: 0; }
	.mat-horizontal-content-container { margin: 0; padding: 0 14px; }

	.mat-stepper-vertical-line { margin-left: 26.5px; }
	.mat-vertical-content { margin-bottom: 0; padding-bottom: 0; }
	.mat-vertical-content-container::before { position: absolute; top: -10px; bottom: -10px; }

	mat-grid-list mat-grid-tile {

		height: 100% !important;
		justify-content: flex-start !important;
		align-items: flex-start !important;

		mat-accordion mat-label h2 { margin: 0 !important; }

		div.mat-grid-tile-container mat-accordion mat-label h2 { margin: 0 !important; }

		div.mat-grid-tile-content { height: 100% !important; }
	}
}

// mat-accordion
//mat-accordion mat-expansion-panel mat-expansion-panel-header { padding-bottom: 20px; }

// mat-grid-list, mat-grid-tile
mat-grid-list mat-grid-tile {

	height: 100% !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;

	mat-accordion mat-label h2 { margin: 0 !important; }

	div.mat-grid-tile-container mat-accordion mat-label h2 { margin: 0 !important; }

	div.mat-grid-tile-content { height: 100% !important; }
}

// ============================== Other Custom ============================== //

.full-width { width: 100%; max-width: 100%; margin-right: 0; padding-right: 0; }

.full-height { height: 100%; max-height: 100%; margin-bottom: 0; padding-bottom: 0; }

.divider-top { border-top-width: 1px; border-top-style: solid; border-top-color: rgba(255, 255, 255, .12); }

.divider-bottom { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(255, 255, 255, .12); }

.text-tile { margin-right: 10px; margin-bottom: 10px !important; }