/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

// @danielmoncada/angular-datetime-picker
@import "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

*, ::before, ::after { border-style: none; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button { margin-right: 10px; margin-bottom: 10px; }

// ============================== Angular Material Custom ============================== //

// mat-button
button.mat-button, a.mat-button {
	margin-bottom: 10px;
	mat-icon { margin-top: -3px; vertical-align: middle; }
}

// mat-raised-button
button.mat-raised-button, a.mat-raised-button {
	margin-bottom: 10px;
	mat-icon { margin-top: -3px; vertical-align: middle; }
}

// mat-stroked-button
button.mat-stroked-button, a.mat-stroked-button {
	margin-bottom: 10px;
	mat-icon { margin-top: -3px; vertical-align: middle; }
}

// mat-flat-button
button.mat-flat-button, a.mat-flat-button {
	margin-bottom: 10px;
	mat-icon { margin-top: -3px; vertical-align: middle; }
}

// mat-icon-button, mat-fab, mat-mini-fab
button.mat-icon-button, button.mat-fab, button.mat-mini-fab { margin-bottom: 10px; }

// mat-input
mat-form-field {
	width: 100%;
	button.mat-icon-button { margin-right: 0 !important; }
	a.mat-icon-button { margin-right: 0 !important; }

	//.mat-form-field-flex > .mat-form-field-infix {
	//	padding: 0.4em 0px !important;
	//}

	//.mat-form-field-label-wrapper {
	//	top: -1.5em;
	//}

	//.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	//	transform: translateY(-1.1em) scale(.75);
	//	width: 133.33333%;
	//}
}


// mat-select
mat-select { width: 100%; }

// mat-radio-button
mat-radio-button { margin-right: 10px; }

// mat-slider
mat-slider { width: 100%; }

// mat-list-item
mat-list-item.center-content { display: flex; justify-content: center; text-align: center; }

// mat-table
mat-table { width: 100%; }

// mat-chip
mat-chip .mat-chip-remove { margin-top: 10px; }

// mat-card
mat-card {

	// mat-card-subtitle
	mat-card-subtitle { padding: 0 10px; }

	// mat-card-title
	mat-card-title { padding: 15px 10px; }

	// mat-card-content
	mat-card-content { margin-top: 20px; padding: 20px 10px; }

}

// mat-stepper
mat-stepper {
	mat-step-header.mat-step-header { padding-left: 15px; padding-right: 15px; }

	.mat-stepper-horizontal-line { margin-left: 0; margin-right: 0; }
	//.mat-horizontal-content-container { margin: 0; padding: 0; }
	.mat-horizontal-content-container { margin: 0; padding: 10px 14px; }

	.mat-stepper-vertical-line { margin-left: 26.5px; }
	.mat-vertical-content { margin: 0; padding: 10px 0 0 15px; }
	.mat-vertical-content-container::before { position: absolute; top: -10px; bottom: -10px; }

	mat-grid-list mat-grid-tile {

		height: 100% !important;
		justify-content: flex-start !important;
		align-items: flex-start !important;

		mat-accordion mat-label h2 { margin: 0 !important; }

		div.mat-grid-tile-container mat-accordion mat-label h2 { margin: 0 !important; }

		div.mat-grid-tile-content { height: 100% !important; }
	}

	//.mat-horizontal-stepper-wrapper {
	//	height: 100%;

	//	.mat-horizontal-content-container {
	//		height: 100%;
	//	}

	//	.mat-horizontal-stepper-content {
	//		height: 100%;
	//	}
	//}

	//.mat-vertical-stepper-wrapper {
	//	height: 100%;

	//	.mat-vertical-content-container {
	//		height: 100%;
	//	}

	//	.mat-vertical-stepper-content {
	//		height: 100%;
	//	}
	//}
}

// mat-accordion
mat-accordion mat-expansion-panel .mat-expansion-panel-body { padding: 10px 14px; }

// mat-tab-group
mat-tab-group {

	mat-tab-body {
		padding: 1rem 0;
	}

	.mat-tab-body-content {
		overflow: hidden !important;
	}

	.mat-tab-body-wrapper {
		height: 100% !important;
	}
}

// mat-grid-list, mat-grid-tile
mat-grid-list mat-grid-tile {

	height: 100% !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;

	mat-accordion mat-label h2 { margin: 0 !important; }

	div.mat-grid-tile-container mat-accordion mat-label h2 { margin: 0 !important; }

	div.mat-grid-tile-content { height: 100% !important; }
}

mat-dialog-actions.custom-mat-dialog-actions, mat-dialog-actions.mat-mdc-dialog-actions { justify-content: center; }

// ============================== Other Custom ============================== //

.full-width { width: 100%; max-width: 100%; margin-right: 0; padding-right: 0; }

.full-height { height: 100%; max-height: 100%; margin-bottom: 0; padding-bottom: 0; }

.divider-top { border-top-width: 1px; border-top-style: solid; border-top-color: rgba(255, 255, 255, .12); }

.divider-bottom { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(255, 255, 255, .12); }

.text-tile { margin-right: 10px; margin-bottom: 10px !important; }

table.table-detail {
	width: 100%;
	td { vertical-align: top; }
}