<mat-card class=" m-7">
	<mat-card-title>Publication Forms Configurations details</mat-card-title>

	<mat-divider></mat-divider>

	<mat-card-content>

		<ng-container *ngIf="(pageState === 'loading')">
			<app-loader></app-loader>
		</ng-container>

		<ng-container *ngIf="(pageState === 'empty')">
			<app-page-not-found></app-page-not-found>
		</ng-container>

		<ng-container *ngIf="(pageState === 'error')">
			<p class="text-center">Error on load page data. Please contact the administrator...</p>

			<div class="flex justify-center">
				<button mat-stroked-button class="flex-initial w-32" (click)="windowHistoryBack()">Back</button>
			</div>
		</ng-container>

		<ng-container *ngIf="(pageState === 'loaded')">

			<mat-tab-group color="accent" mat-stretch-tabs="true" mat-align-tabs="center" animationDuration="500ms" dynamicHeight>
				<mat-tab label="Initial Configurations">
					<ng-template matTabContent>
						<app-publication-forms-initial-configurations-detail [data]="data" [selectOptions]="selectOptions"></app-publication-forms-initial-configurations-detail>
					</ng-template>
				</mat-tab>

				<mat-tab label="General Configurations">
					<ng-template matTabContent>
						<app-publication-forms-general-configurations-detail [data]="data" [selectOptions]="selectOptions"></app-publication-forms-general-configurations-detail>
					</ng-template>
				</mat-tab>

				<mat-tab label="Advanced Configurations">
					<ng-template matTabContent>
						<app-publication-forms-advanced-configurations-detail [data]="data" [selectOptions]="selectOptions"></app-publication-forms-advanced-configurations-detail>
					</ng-template>
				</mat-tab>

			</mat-tab-group>

		</ng-container>


	</mat-card-content>

</mat-card>
