@if (gridType === 'material' && data.body.length > 0) {
	<div class="ghost-element">
		<!-- Header -->
		<ng-container *ngFor="let row of data.header; let rowsIndex = index;">
			<div class="grid grid-cols-{{ row.column.length }} gap-4 mb-4">
				<ng-container *ngFor="let column of row.column; let columnIndex = index;">
					<div class="header-line"></div>
				</ng-container>
			</div>
		</ng-container>

		<!-- Body -->
		<ng-container *ngFor="let row of data.body; let rowsIndex = index;">
			<div class="grid grid-cols-{{ row.column.length }} gap-4 mb-4">
				<ng-container *ngFor="let column of row.column; let columnIndex = index;">
					<div class="line"></div>
				</ng-container>
			</div>
		</ng-container>
	</div>
}

@if (gridType === 'tailwind' && data.body.length > 0) {
	<div class="ghost-element">
		<!-- Header -->
		<ng-container *ngFor="let row of data.header; let rowsIndex = index;">
			<div class="grid grid-cols-{{ row.column.length }} gap-4 mb-4">
				<ng-container *ngFor="let column of row.column; let columnIndex = index;">
					<div class="header-line"></div>
				</ng-container>
			</div>
		</ng-container>

		<!-- Body -->
		<ng-container *ngFor="let row of data.body; let rowsIndex = index;">
			<div class="grid grid-cols-{{ row.column.length }} gap-4 mb-4">
				<ng-container *ngFor="let column of row.column; let columnIndex = index;">
					<div class="line"></div>
				</ng-container>
			</div>
		</ng-container>
	</div>
}
